# Copyright (c) 2016 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# For the schema of this file and documentation, see :
# https://luci-config.appspot.com/schemas/services/cros-build-status:view.cfg

title: "Fuchsia"

view <
  key: "dashboard"
  value: <
    title: "Dashboard"

    # Linux ARM64
    section <
      name: "Linux (arm64)"
      bucket: "luci.fuchsia.ci"
      tag: <
        key: "builder"
        value: "Linux arm64"
      >
      title_tag: "swarming_task_id"
      show: <
        tag: "scheduler_job_id"
      >
      max_builds: 5
    >

    # Linux (x86-64)
    section <
      name: "Linux (x86-64)"
      bucket: "luci.fuchsia.ci"
      tag: <
        key: "builder"
        value: "Linux x86-64"
      >
      title_tag: "swarming_task_id"
      show: <
        tag: "scheduler_job_id"
      >
      max_builds: 5
    >

    refresh_interval: <
      seconds: 60
    >
  >
>
